img {
  border: 2px red solid;
}

.sm-image-blue {
  border: 2px blue solid;
}

/* .lg-image {
  max-width: 100%;
  height: auto;
}

.sm-image {
  box-sizing: content-box;
  margin: 0.5rem;
  max-width: 100%;
  height: auto;
} */
